@font-face {
    font-family: 'ArchivoBlack';
    src: url('../fonts/ArchivoBlack-Regular.woff2') format('woff2'),
        url('../fonts/ArchivoBlack-Regular.woff') format('woff'),
        url('../fonts/ArchivoBlack-Regular.eot') format('eot'),
        url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff'),
        url('../fonts/Nunito-Regular.eot') format('eot'),
        url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;  
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
        url('../fonts/Nunito-Medium.woff') format('woff'),
        url('../fonts/Nunito-Medium.eot') format('eot'),
        url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff'),
        url('../fonts/Nunito-Bold.eot') format('eot'),
        url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
}



.conteiner {
    width: 1208px;
    margin: 0 auto;
}


@media (max-width: 1279px) {
    .conteiner {
        width: 704px;
    }
}

@media (max-width: 768px) {
    .conteiner {
        width: 304px;
    }
}