@font-face {
    font-family: 'ArchivoBlack';
    src: url('../fonts/ArchivoBlack-Regular.woff2') format('woff2'),
        url('../fonts/ArchivoBlack-Regular.woff') format('woff'),
        url('../fonts/ArchivoBlack-Regular.eot') format('eot'),
        url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff'),
        url('../fonts/Nunito-Regular.eot') format('eot'),
        url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;  
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
        url('../fonts/Nunito-Medium.woff') format('woff'),
        url('../fonts/Nunito-Medium.eot') format('eot'),
        url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff'),
        url('../fonts/Nunito-Bold.eot') format('eot'),
        url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
}

@mixin H1 {
    font-family: 'ArchivoBlack';
    font-size: 58px;
    line-height: 120%;
}

@mixin H2 {
    font-family: 'ArchivoBlack';
    font-size: 46px;
    line-height: 120%;
}

@mixin H3 {
    font-family: 'ArchivoBlack';
    font-size: 36px;
    line-height: 120%;
}

@mixin H4 {
    font-family: 'ArchivoBlack';
    font-size: 30px;
    line-height: 120%;
}

@mixin H5 {
    font-family: 'ArchivoBlack';
    font-size: 26px;
    line-height: 120%;
}

@mixin T21_R {
    font-family: 'Nunito';
    font-size: 21px;
    line-height: 160%;
    font-weight: normal;
}

@mixin T21_B {
    font-family: 'Nunito';
    font-size: 21px;
    line-height: 160%;
    font-weight: bold;
}

@mixin T18_R {
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
}

@mixin T18_B {
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
}

@mixin T18_B {
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
}

@mixin T15_R_SLS {
    font-family: 'Nunito';
    font-size: 15px;
    line-height: 140%;
    font-weight: normal;
}

@mixin T15_M_SLS {
    font-family: 'Nunito';
    font-size: 15px;
    line-height: 140%;
    font-weight: medium;
}

@mixin T15_B_SLS {
    font-family: 'Nunito';
    font-size: 15px;
    line-height: 140%;
    font-weight: bold;
}

@mixin T13_UP_M {
    font-family: 'Nunito';
    font-size: 13px;
    line-height: 160%;
    font-weight: medium;
    text-transform: uppercase;
}

@mixin T13_R_SLS {
    font-family: 'Nunito';
    font-size: 13px;
    line-height: 140%;
    font-weight: normal;
}

@mixin T13_M_SLS {
    font-family: 'Nunito';
    font-size: 13px;
    line-height: 140%;
    font-weight: medium;
}

@mixin T13_R_SLS {
    font-family: 'Nunito';
    font-size: 13px;
    line-height: 140%;
    font-weight: normal;
}

@mixin T13_UP_B {
    font-family: 'Nunito';
    font-size: 13px;
    line-height: 160%;
    font-weight: bold;
}

$mc_black: #1B1F21;
$mc_gray80: #434343;
$mc_gray70: #757778;
$mc_gray35: #757778;
$mc_gray20: #D9D9D8;
$mc_gray15: #E8E8E8;
$mc_gray5: #F2F2F2;
$mc_gray5tr20: #F2F2F2;
$mc_white: #FCFAF9;
$mc_whiteTr90: #FCFAF9;
$mc_pale: #E8E8E8;

$tc_pink: #EC95B1;
$tg_sky: #A4CCFE;
$tg_violet: #D0B0FA;
$tg_grass: #BEDB39;
$tg_turquoise: #ACD6DE;
$tg_tangerine: #FFAD20;
$tg_colar: #FE8968;
$tg_mint: #AEDFD6;
$tg_marine: #90EECB;

$t_pink: #DA3369;
$t_sky: #5FA5FD;
$t_violet: #9853F4;
$t_grass: #94AC23;
$t_turquoise: #57ACBC;
$t_tangerine: #EF9700;
$t_coral: #FE6D44;
$t_mint: #57BCAA;
$t_marine: #22C98B;










.conteiner {
    width: 1208px;
    margin: 0 auto;
}


@media (max-width: 1279px) {
    .conteiner {
        width: 704px;
    }
}

@media (max-width: 768px) {
    .conteiner {
        width: 304px;
    }
}